build/
workspace/*
!workspace/dosbox.conf
!workspace/dosbox-build.conf
old/
imbibe/
datasrc/
__pycache__/
*.ERR
RUN.LOG
simbibe
glimbibe
imbibe.exe
imbibe.tya
wimbibe.data
wimbibe.html
wimbibe.wasm
wimbibe.js
